@use './styles/typography.scss';
@use './styles/buttons.scss';

:root {
  --max-screen-width: 1240px;
}

* {
  @apply box-border;
}

html {
  @apply h-auto;
}

body {
  @apply min-h-full;
  @apply m-0;
  @apply flex;
  @apply flex-col;
  @apply text-primary;
  @apply bg-secondary-bg;

  flex: 1 0 auto;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale; /* Font smoothing tweaks for MacOSx in Gecko */
  -webkit-font-smoothing: antialiased;
}

main {
  @apply flex;
  @apply flex-row;
  @apply mt-7;
  @apply mb-5;

  flex: 1 0 auto;
}

.container {
  @apply w-full;
  @apply px-6;
  @apply mx-auto;
  @apply my-0;

  @screen md {
    @apply px-10;
  }

  max-width: var(--max-screen-width);
}
