button {
  @apply border-none;
  @apply appearance-none;
}

.button {
  @apply cursor-pointer;
  @apply bg-white;
  @apply border-primary;
  @apply border;
  @apply border-solid;
  border-radius: 100px;
  transition: 0.3s border, 0.3s color, 0.3s background-color;
}

.button--primary {
  @apply p-3;
  @apply text-sm;
  @apply uppercase;
  @apply tracking-widest;

  font-family: 'Lato-Bold', sans-serif;
}

.button--primary:hover {
  @apply text-white;
  @apply bg-primary;
  @apply border-primary;
  @apply border;
  @apply border-solid;
}
