button {
  appearance: none;
  border: 0;
}

.button {
  @apply cursor-pointer;
  @apply bg-white;

  border: 1px solid var(--secondary-color);
  border-radius: 100px;
  transition: 0.3s border, 0.3s color, 0.3s background-color;
}

.button--primary {
  @apply p-3;
  @apply text-sm;
  @apply uppercase;
  @apply tracking-widest;

  font-family: 'Lato-Bold', sans-serif;
}

.button--primary:hover {
  @apply text-white;

  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}
